body{
    background: #212529;
}
.homepage-info{
    padding:25px;
}
.homepage-info h1{ 
    text-align:center;
    color:#492a0c !important;
   
}
.homepage-info h3{
    text-align:center;
    color:#ec8235;
}
h1{
    color:#ec8235 !important;
}
h2{
    color:#ffc107 !important;
}
.row{
    margin-bottom: 20px !important;
}
/* .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  } */
  /* .hero-section{
    background: #ff9507;
  } */

  .nav-link{
    color: #cc6d27 !important;
    font-weight: 500;
  }
  .nav-link:hover{
    color:#ffc107 !important; 
  }
.dropdown-item{
    color:#c8780d !important;
}

a.dropdown-item:hover{
    color:#ffc107 !important;
}
a.dropdown-item:visited{
    color:blueviolet;
}
  .navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
  .dropdown-submenu {
    position:relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 
.fav__cards-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-column-gap: 30px;
    -webkit-column-gap: 30px;
    column-gap: 30px;
    grid-row-gap: 40px;
    row-gap: 40px;
    justify-items: center;
    max-width: 850px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 70px;
    padding: 0 20px;
}

.fav__card {
    background: #ff9507;
    box-shadow: 0 14px 30px rgb(0 0 0 / 25%), 0 4px 8px rgb(0 0 0 / 45%), 0 10px 40px 10px rgb(0 0 0 / 15%);
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    padding-bottom: 2rem;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.fav__card:hover .fav__card-title {
    color: #fff;
}
.fav__card:hover .fav__hidden-text {
    transition: .3s ease-in;
    bottom: 10px;
}
.fav__card:hover .fav__card-img {
    height: 60px;
    transition: all .3s ease-in-out;
    opacity: .2;
    margin-bottom: -2.4rem;
}

.fav__card-img {
    margin-bottom: 2.3rem;
    border-radius: 30px 30px 0 0;
    opacity: .9;
    width: 100%;
    object-fit: cover;
    height: 200px;
    transition: all .3s ease-in-out;
}


.fav__card-title {
    color: white;
    text-align: center;
}

.fav__hidden-text ul li{
    text-align:left;
}
.fav__hidden-text a{
    color:#492a0c;
    font-size: 18px;
}

.fav__hidden-text a:hover{
    color: #ffc107 !important;
}
h4 {
    font-weight: 900;
    font-size: 16px;
}

.fav__hidden-text {
    color:white;
    position: absolute;
    bottom: -150px;
    transition: .3s ease-in;
    text-align: center;
    width: 100%;
    padding: 15px;
}


.hero-image img{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 50px;
}
.carousel-container{
    width: 300px;
    margin:auto;
    /* max-width: 60% !important; */

}
.carousel-inner{
    border-radius: 50px;
}
/* .hero-section {
  background: url('./assets/newlogobrdr.jpeg') 50% no-repeat;
  background-size: cover;
  height: 33vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff9507;
} */

.hero-section .hero-image {
    background: #ff9507;
}


/* @media screen and (max-width:946px) and (min-width:700px){
    .hero-image{
        height: 225px;
    }
}

@media screen and (max-width:700px){
    .hero-image{
        height: 180px;
    }
} */

.section-header {
    text-align: center;
    padding-top: 40px;
  }

  .section-text{
    padding:15px;
    text-align: start;
  }
  
  .section-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #7f7f90;
    text-transform: uppercase;
    font-family: var(--font-default);
  }
  
  .section-header p {
    margin: 0;
    padding-bottom: 40px;
    font-size: 48px;
    font-weight: 400;
    font-family: var(--font-primary);
  }
  
  .section-header p span {
    color: #ffc107;
  }

  .footer {
    position: sticky;
    top: 100vh;
    margin-top:20px;
  }

@media (min-width: 992px){
.container, .container-lg, .container-md, .container-sm {
    max-width: 720px !important;
}
}
@media (max-width:720px){
    .container, .container-lg, .container-md, .container-sm {
        max-width: 720px !important;
    }
}