
body {
    /* Full height */
    height: 100%;
    margin: 0; /* Remove default margin for the body */
  
    /* Position relative for proper stacking */
    position: relative;
  }
  
  /* Create a pseudo-element for the background image with opacity */
  body.home::before {
    content: "";
    background-image: url("./Assets/jazcollage2.png");
    opacity: 0.2; /* Adjust the opacity level as needed */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1; /* Place the pseudo-element behind the content */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Add your content styles here */
  

.container{
    min-width:75%;
    margin-bottom:40px;
}

.homepage-info{
    padding:25px;
}

.homepage-info h1{ 
    text-align:center;
    color:#492a0c !important;
    
   
}
.homepage-info h1,
.homepage-info h3 {
   /* Set the text color */
  text-shadow:
    -2px -2px 0 white, /* Top-left shadow */
    2px -2px 0 white,  /* Top-right shadow */
    -2px 2px 0 white,  /* Bottom-left shadow */
    2px 2px 0 white;   /* Bottom-right shadow */
}

.home-cards{
    display:flex;
}
.card-deck {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #ec8235 !important;
    border-color:black !important;
}
.card-body{
    text-align:center;
}
.card{
    background: #ff9507;
    box-shadow: 0 14px 30px rgb(0 0 0 / 25%), 0 4px 8px rgb(0 0 0 / 45%), 0 10px 40px 10px rgb(0 0 0 / 15%);
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    padding-bottom: 2rem;
    width: 300px;
    height: 400px;
    margin: 30px;
}
.homepage-info h3{
    text-align:center;
    color:#ec8235;
}
.navbar{
    background-color: white !important;
}

.mission{
    width:80%;
    margin:auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
}

.callout{
    font-weight:800;
    color:#cc6d27;
}

h1{
    color:#ec8235 !important;
}

h2{
    color:#ffc107 !important;
}

.row{
    margin-bottom: 20px !important;
}
/* .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  } */
  /* .hero-section{
    background: #ff9507;
  } */

  .nav-link{
    color: #cc6d27 !important;
    font-weight: 500;
  }

  .nav-link:hover{
    color:#ffc107 !important; 
  }

.dropdown-item{
    color:#c8780d !important;
}

a.dropdown-item:hover{
    color:#ffc107 !important;
}

a.dropdown-item:visited{
    color:blueviolet;
}

  .navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.navbar-brand{
    color: #492a0c !important;
}

.centerText {
    text-align:center;
}

  .dropdown-submenu {
    position:relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 
.fav__cards-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-column-gap: 30px;
    -webkit-column-gap: 30px;
    column-gap: 30px;
    grid-row-gap: 40px;
    row-gap: 40px;
    justify-items: center;
    max-width: 850px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 70px;
    padding: 0 20px;
}

.fav__card {
    background: #ff9507;
    box-shadow: 0 14px 30px rgb(0 0 0 / 25%), 0 4px 8px rgb(0 0 0 / 45%), 0 10px 40px 10px rgb(0 0 0 / 15%);
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    padding-bottom: 2rem;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.fav__card:hover .fav__card-title {
    color: #fff;
}
.fav__card:hover .fav__hidden-text {
    transition: .3s ease-in;
    bottom: 10px;
}
.fav__card:hover .fav__card-img {
    height: 60px;
    transition: all .3s ease-in-out;
    opacity: .2;
    margin-bottom: -2.4rem;
}

.fav__card-img {
    margin-bottom: 2.3rem;
    border-radius: 30px 30px 0 0;
    opacity: .9;
    width: 100%;
    object-fit: cover;
    height: 200px;
    transition: all .3s ease-in-out;
}


.fav__card-title {
    color: white;
    text-align: center;
}

.fav__hidden-text ul li{
    text-align:left;
}
.fav__hidden-text a{
    color:#492a0c;
    font-size: 18px;
}

.fav__hidden-text a:hover{
    color: #ffc107 !important;
}
h4 {
    font-weight: 900;
    font-size: 16px;
}

.fav__hidden-text {
    color:white;
    position: absolute;
    bottom: -150px;
    transition: .3s ease-in;
    text-align: center;
    width: 100%;
    padding: 15px;
}


.hero-image img{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    /* border-radius: 50px; */
}
.carousel-container{
    width: 300px;
    margin:auto;
    /* max-width: 60% !important; */

}
.carousel-item{
    max-height: 400px;
}
.carousel-inner{
    border-radius: 50px;
}
.carousel-div{
    margin-bottom:30px;
}
/* .hero-section {
  background: url('./assets/newlogobrdr.jpeg') 50% no-repeat;
  background-size: cover;
  height: 33vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff9507;
} */

.hero-section .hero-image {
    background: #ff9507;
}


/* @media screen and (max-width:946px) and (min-width:700px){
    .hero-image{
        height: 225px;
    }
}

@media screen and (max-width:700px){
    .hero-image{
        height: 180px;
    }
} */
#mc_embed_shell{
    width: 50%;
    margin: auto;
}
#mc_embed_signup{
    background:#fff; 
    clear:left;
    font:14px Helvetica,Arial,sans-serif; 
    text-align:center;
    
}
label{
    margin:15px;
}
.image-container{
    margin-top: 30px !important;
    display:flex !important;
 
}
.contact-page-text{
    padding:40px;
    text-align:center;
    font-size:28px;
    color:#492a0c;
}
.button{
    background-color: #ffc107 !important;
    margin-top:15px;
    border-radius: 50px;
    padding: 10px;
    width: 115px;
}
.section-header {
    text-align: center;
    padding-top: 40px;
  }

  .section-text{
    padding:15px;
    text-align: start;
  }
  
  .section-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #7f7f90;
    text-transform: uppercase;
    font-family: var(--font-default);
  }
  
  .section-header p {
    margin: 0;
    padding-bottom: 40px;
    font-size: 48px;
    font-weight: 400;
    font-family: var(--font-primary);
  }
  
  .section-header p span {
    color: #ffc107;
  }

  .footer {
    position: sticky;
    top: 100vh;
    margin-top:20px;
  }

  .animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 36px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

  .pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    } 
  
  .bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes bounceInLeft {
    0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
    }
    60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
    }
    75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    }
    90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
    }
    100% {
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes bounceInLeft {
    0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
    }
    60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
    }
    75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    }
    90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
    }
    100% {
    -webkit-transform: none;
    transform: none;
    }
    } 


    .bounceInUp {
        -webkit-animation-name: bounceInUp;
        animation-name: bounceInUp;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes bounceInUp {
        0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        }
        0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
        }
        60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
        }
        75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
        }
        90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
        }
        100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        }
        }
        @keyframes bounceInUp {
        0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        }
        0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
        }
        60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
        }
        75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
        }
        90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
        }
        100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        }
        }


 .animated.flip {
            -webkit-backface-visibility: visible;
            backface-visibility: visible;
            -webkit-animation-name: flip;
            animation-name: flip;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            }
            @-webkit-keyframes flip {
            0% {
            -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
            transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
            }
            40% {
            -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
            transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
            }
            50% {
            -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
            transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
            }
            80% {
            -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
            transform: perspective(400px) scale3d(.95, .95, .95);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
            }
            100% {
            -webkit-transform: perspective(400px);
            transform: perspective(400px);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
            }
            }
            @keyframes flip {
            0% {
            -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
            transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
            }
            40% {
            -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
            transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
            }
            50% {
            -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
            transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
            }
            80% {
            -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
            transform: perspective(400px) scale3d(.95, .95, .95);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
            }
            100% {
            -webkit-transform: perspective(400px);
            transform: perspective(400px);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
            }
            } 
          
            .block {
                position: relative;
                margin: 300px auto 0;
                width: 500px;
                height: 250px;
                background: linear-gradient(0deg, #000, #272727);
              }
              
              .block:before, .block:after {
                content: '';
                position: absolute;
                left: -2px;
                top: -2px;
                background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
                  #0000ff, #00ff00,#ffff00, #ff0000);
                background-size: 400%;
                width: calc(100% + 4px);
                height: calc(100% + 4px);
                z-index: -1;
                animation: steam 20s linear infinite;
              }
              
              @keyframes steam {
                0% {
                  background-position: 0 0;
                }
                50% {
                  background-position: 400% 0;
                }
                100% {
                  background-position: 0 0;
                }
              }
              
              .block:after {
                filter: blur(50px);
              }
              
.border-img{
        --b: 5px;  /* the border thickness */
        --d: 20px; /* the distance from the edge */
        --o: 15px; /* the offset on hover */
        --s: 1;    /* the direction of the hover effect (+1 or -1)*/
        
        --_d: calc(var(--d) + var(--s)*1em);
        --_g: calc(100% - 2*(var(--_d) + var(--b)));
        --_m:
          conic-gradient(from 90deg at var(--_d) var(--_d),#0000 25%,#000 0)
           0 0/calc(100% - var(--_d)) calc(100% - var(--_d)),
          linear-gradient(#000 0 0) 50%/var(--_g) var(--_g) no-repeat;
        -webkit-mask: var(--_m);
                mask: var(--_m);
        font-size: 0;
        cursor: pointer;
        transition: .35s;
      }
      img:hover {
        font-size: var(--o);
      }
      
    

@media (min-width: 992px){
.container, .container-lg, .container-md, .container-sm {
    max-width: 720px !important;
}
}
@media (max-width:720px){
    .container, .container-lg, .container-md, .container-sm {
        max-width: 720px !important;
    }
    .hero-image img{
        display:flex;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
        /* border-radius: 50px; */
    }
    .border-img{
        --b: 5px;  /* the border thickness */
        --d: 10px; /* the distance from the edge */
        --o: 15px; /* the offset on hover */
        --s: 1;    /* the direction of the hover effect (+1 or -1)*/
        
        --_d: calc(var(--d) + var(--s)*1em);
        --_g: calc(100% - 2*(var(--_d) + var(--b)));
        --_m:
          conic-gradient(from 90deg at var(--_d) var(--_d),#0000 25%,#000 0)
           0 0/calc(100% - var(--_d)) calc(100% - var(--_d)),
          linear-gradient(#000 0 0) 50%/var(--_g) var(--_g) no-repeat;
        -webkit-mask: var(--_m);
                mask: var(--_m);
        font-size: 0;
        cursor: pointer;
        transition: .35s;
      }
      img:hover {
        font-size: var(--o);
      }
}