<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../Assets/Jazmines-Journey-Logo.PNG"/>
    <title>Jazmine's Journey</title>
    <link rel="stylesheet" href="../../style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="../header.js" type="text/javascript" defer></script>
    <script src="../footer.js" type="text/javascript" defer></script>
</head>
<body>
    <header-component></header-component>


     <!-- heading -->
  <div class="row">
        <div class="col section-header">
          <h2>Jazmine's Journey</h2>
          <p class="animate-charcter pulse">Easter Baskets</p>
        </div>
 </div>

 <!-- content -->
<div class="row container-fluid centerText" style="margin:auto;">
                
    <!-- top image div -->
  <div class="" style="text-align:center;">
           <img src="../../Assets/Fundraisers/easterbasket.jpg" style="width:200px;border-radius: 20px;" class="" alt="...">
                   
   </div>
   <br>
   <br>              

  <!-- text body content -->
  <div class="container centerText">

   <p class="section-text" style="font-size: 18px;"> 
      <strong style="text-align:center;">Bringing Joy to Pediatric Cancer Warriors This Easter</strong>
     
      This Easter, help us spread joy to children battling pediatric cancer and their siblings by sponsoring an Easter basket or contributing towards essential items! Each carefully curated basket costs approximately <strong>$110 </strong>and includes:

     <ul style="text-align:left;">
             
              <li> 🐰A cuddly stuffed animal <strong>($15 value) </strong></li>
              <li>🍬 Candy & snacks <strong>($15 value)</strong></li>
              <li>🎲 A toy or game tailored to the child’s preference <strong>($30 value)</strong></li>
              <li>
                🛒 A <strong>$50 </strong>Fry’s Grocery gift card for parents
              </li>
            </ul>
<br>
     <br>
      Our goal is to raise <strong>$2,200 </strong>to provide <strong>20 Easter baskets </strong>to these brave children and their families. Every dollar counts—whether you donate the full cost of a basket or contribute towards specific items, your generosity will make a difference!
      <br>
      💛 <strong>Donate today and bring a smile to a child’s face this Easter!</strong> 💛
<br><br>
      <a  style="font-size:24px;" href="https://www.zeffy.com/en-US/donation-form/easter-joy-for-pediatric-cancer-warriors-sponsor-a-basket-today 
      " target="_blank"><p class="animate-charcter pulse">Click here to donate an Easter Basket</p></a>
      <br><br>
                </p>
<!-- image div -->
    <div class="container-fluid">
    <img style="  max-width: 100%;
    height: auto;
    display: block;" src="../../Assets/Fundraisers/easterbaskflyer.png" alt="">
  </div>
              
</div>
</div>
        

      

  
<footer-component></footer-component>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>