<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../Assets/Jazmines-Journey-Logo.PNG"/>
    <title>Jazmine's Journey</title>
    <link rel="stylesheet" href="../../style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="../header.js" type="text/javascript" defer></script>
    <script src="../footer.js" type="text/javascript" defer></script>
</head>
<body>
    <header-component></header-component>


     
  <div class="row">
        <div class="col section-header homepage-info">
          <h2>Jazmine's Journey</h2>
          <h1>Family Support</h1>
          <div><h3>What we offer families impacted by chidhood cancer</h3></div>
        </div>
       
 </div>
 <div class="row container" style="margin:auto;">

    <div class="container centerText">
        <div tyle="text-align:center;">
            <img src="../../Assets/FamilySupport/enalign.png" style="width:200px;border-radius: 20px;" class="" alt="...">
           
          </div>
      <p>
      <p class="event-titles">Grief Movement Group Class</p> 
      June 6th on Zoom at 2:00 PM
      <p class="section-text" style="font-size: 18px;">
        Join us on Zoom for a 45-minute practice to transform pain and struggle into peace and purpose using movement, sound and breath.   This is a group class designed to create safe space for processing grief when words are not enough.  The focus is on various movements, sounds and breathing practices that help the body, mind and soul rebalance and calibrate.  
There is no talking about our loss specifically in these group classes.  If you'd like to create a small group or private 1:1 session where talking is involved please reach out to Erica Dyer or scheudle a free mini session under the "meet" tab.  
I know how hard loss, trauma and grief can be.  It is my passion and purpose to help you move through these times with compassion, grace, tools, techniques and supportive people.  
        
        <a href="https://www.ericafaith.com/event-details/grief-movement-group-class-2024-06-06-14-00" target="_blank">Register here for your FREE Grief Management : Must enter Jazmine as code and it will zero out.</a>
        <br>
     
</p>

</div>

    <div class="container centerText">
        <div tyle="text-align:center;">
            <img src="../../Assets/FamilySupport/momdaughterstretch.jpeg" style="width:200px;border-radius: 20px;" class="" alt="...">
           
          </div>
      <p>
      <p class="event-titles">Free Stretching with Megan</p> 
      Sun, June 26, 2024 11:00 AM
      <br>
      LOCATION: 
      1660 S Alma School Rd unit 117 Mesa 85202 
      <p class="section-text" style="font-size: 18px;">As parents of children facing terminal illnesses or undergoing cancer treatments, you shoulder an immense emotional and physical burden. We understand that your well-being is crucial, not only for yourself but also for the strength and support you provide to your child.
        Why Stretching?
        This class is designed specifically for you. Stretching offers numerous benefits that can help you manage stress, reduce physical tension, and enhance your overall well-being. Here's how our class can support you:
        Relief from Physical Tension: Stretching helps release tight muscles and improve circulation, which can alleviate some of the physical strain you may experience from constant care and worry.
        Mental Relaxation: Gentle, mindful stretching exercises can promote a sense of calm and relaxation, offering a break from the emotional stress.
        Improved Flexibility: Regular stretching can improve your range of motion, making daily tasks easier and reducing the risk of injury.
        Connection with Others: This class provides a supportive environment where you can connect with other parents facing similar challenges, fostering a sense of community and shared understanding.
        
        <a href="https://www.zeffy.com/en-US/ticketing/1a20ffcc-ca2c-4f1e-9870-d35e405b4b1c" target="_blank">Register for your free stretch class here.</a>
        <br>
     
</p>

</div>

        <div class="container centerText">
            <div tyle="text-align:center;">
                <img src="../../Assets/FamilySupport/zenden2.jpeg" style="width:200px;border-radius: 20px;" class="" alt="...">
               
              </div>
          <p>
          <p class="event-titles">Free Yoga Class</p> 
          Sun, July 7, 2024 11:00 AM - 12:00 PM
          <p class="section-text" style="font-size: 18px;">We are thrilled to announce a special collaboration between The Zen Den of Gilbert and Jazmine's Journey, offering a free yoga class designed exclusively for parents with children currently undergoing cancer treatment. If you have any questions, please feel free to ask. <a href="https://www.zeffy.com/en-US/ticketing/27a410b3-85ca-4ee9-812c-6cf6b82b0823" target="_blank">Register for our July Zen Den Yoga Session Here.</a>
            <br>
         
   </p>
  
  </div>
</div>


     
    <!-- Begin Carousel 1-->
      <!-- <div class="col-sm-4 carousel-div">
        <div class="carousel-container">
          <h2 style="text-align:center;"></h2>
          <div id="carouselExampleIndicators1" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1a"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="1" aria-label="Slide 2a"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="2" aria-label="Slide 3a"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../Assets/Impact/piggyPCH.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../Assets/Impact/piggybasket.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../Assets/Impact/piggyPCH2.png" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div> -->
         <!-- //end carousel 1-->
        

      

  
<footer-component></footer-component>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>