<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../Assets/Jazmines-Journey-Logo.PNG"/>
    <title>Jazmine's Journey</title>
    <link rel="stylesheet" href="../../style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="../header.js" type="text/javascript" defer></script>
    <script src="../footer.js" type="text/javascript" defer></script>
</head>
<body>
    <header-component></header-component>

    <button class="floating-btn"> <a href="https://us21.list-manage.com/survey?u=b84b865ea6ed9e8e3894bb424&id=13d9b44e2b&attribution=false">Apply to Receive Family Support</a></button>
     
  <div class="row">
        <div class="col section-header homepage-info">
          <h2>Jazmine's Journey</h2>
          <h1>Your Impact</h1>
          <div><h3>This is what we can do because of you!</h3></div>
        </div>
       
 </div>
 <div class="row container" style="margin:auto;">
  <div class="col-sm-4" style="text-align:center;">
        <img src="../../Assets/FamilySupport/tbirddonate1.png" style="width:200px;border-radius: 20px;" class="" alt="...">
       
      </div>
      <div class="col-sm-8">
       
        </p>
        <div class="container centerText">
          <p>
          <p class="event-titles">Hygiene Kits for Banner Thunderbird Pediatrics Oncology</p> 
          <p class="section-text" style="font-size: 18px;">On May 28th, 2024, we were able to make a donation to Banner Thunder Pediatrics Oncology floor of twenty-seven children's hygiene kits that included a toothbrush, toothpaste, dental floss, and a sticker. When in the hospital for treatment, the last thing that is on the mind are things such as hygiene items. Jazmine's family appreciated not having to worry about those little things and helped a lot. We are proud to be able to make such donations with the help from our community donors. 
            <br>      
         
   </p>

      <!-- Begin Carousel 1-->
      <div class="col-sm-4 carousel-div">
        <div class="carousel-container">
          <h2 style="text-align:center;"></h2>
          <div id="carouselExampleIndicators1" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1a"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="1" aria-label="Slide 2a"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="2" aria-label="Slide 3a"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../Assets/FamilySupport/tbirddonate2.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../Assets/FamilySupport/tbirddonate1.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../Assets/FamilySupport/tbirddonate4.png" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
         <!-- //end carousel 1-->
  </div>
  </div>
</div>

<div class="row container" style="margin:auto;">
    <div class="col-sm-4" style="text-align:center;">
          <img src="../../Assets/piggy1.png" style="width:200px;border-radius: 20px;" class="" alt="...">
         
        </div>
        <div class="col-sm-8">
         
          </p>
          <div class="container centerText">
            <p>
            <p class="event-titles">Piggy Baskets for Pediatric Cancer Families</p> 
            <p class="section-text" style="font-size: 18px;">Because of your support and donations, we were able to assemble gift baskets with piggies, toys and gift cards to restaurants and West Wind Drive-In theatre! We gave these baskets to pediatric cancer families at Phoenix Children's Hospital!  
              <br>
             
             
           
     </p>
  
        <!-- Begin Carousel 1-->
        <div class="col-sm-4 carousel-div">
          <div class="carousel-container">
            <h2 style="text-align:center;"></h2>
            <div id="carouselExampleIndicators1" class="carousel slide" data-bs-ride="true">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1a"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="1" aria-label="Slide 2a"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="2" aria-label="Slide 3a"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../../Assets/Impact/piggyPCH.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../../Assets/Impact/piggybasket.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../../Assets/Impact/piggyPCH2.png" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
           <!-- //end carousel 1-->
    </div>
    </div>
  </div>

     

        

      

  
<footer-component></footer-component>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>