<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../Assets/Jazmines-Journey-Logo.PNG"/>
    <title>Jazmine's Journey</title>
    <link rel="stylesheet" href="../../style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="../header.js" type="text/javascript" defer></script>
    <script src="../footer.js" type="text/javascript" defer></script>
</head>
<body>
    <header-component></header-component>

    <button class="floating-btn"> <a href="https://us21.list-manage.com/survey?u=b84b865ea6ed9e8e3894bb424&id=13d9b44e2b&attribution=false" target="_blank"> Apply to Receive Family Support</a></button>
     
  <div class="row">
        <div class="col section-header">
          <h2>Jazmine's Journey</h2>
          <p class="pulse">Meeting Minutes and Budget Information</p>
        </div>
 </div>
        <div class="row container" style="margin:auto;">
          <div class="col-sm-4" style="text-align:center;">
                <img src="../../Assets/jazsibs2.jpg" style="width:200px;border-radius: 20px;" class="" alt="...">
               
              </div>
             
              <div class="col-sm-8">
                Tax Exempt Nonprofit Letter:
                <br>
                <a href="../../Assets/Documents/501C3 Approval.pdf" target="_blank">501(c)(3)</a> 
                <br>
                Contest Rules:
                <br>
                <a href="../../Assets/Documents/Contest Rules.pdf" target="_blank">Social Media Contest Rules</a> 
                <br>
                <br>
                2024 Meetings:
                <ul>
                  <li>
                    <a href="../../Assets/Documents/August Minutes2024.pdf" target="_blank">August 16 2024</a> 
                  </li>
                  <li>
                    <a href="../../Assets/Documents/July Minutes2024.pdf" target="_blank">July 6 2024</a> 
                  </li>
                  <li>
                    <a href="../../Assets/Documents/June Minutes.pdf" target="_blank">June Meeting held May 31st 2024</a> 
                  </li>
                  <li>
                    <a href="../../Assets/Documents/May Minutes.pdf" target="_blank">May 3rd 2024</a> 
                  </li>
                  <li>
                    <a href="../../Assets/Documents/April 24 Minutes.pdf" target="_blank">April 12th 2024</a> 
                  </li>
                  <li>
                    <a href="../../Assets/Documents/February Minutes.pdf" target="_blank">March 24th 2024</a> 
                  </li>
                  <li>
                    <a href="../../Assets/Documents/February Minutes.pdf" target="_blank">February 7th 2024</a> 
                  </li>
                  <li>
                <a href="../../Assets/Documents/JanBoardMeeting24.pdf" target="_blank">January 2nd 2024</a> 
              </li>
             
              </ul>

              Bylaws:
              <br>
              <a href="../../Assets/Documents/Bylaws.pdf" target="_blank">Bylaws</a> 
              <br>
              </div>
          

</div>
        

      

  
<footer-component></footer-component>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>