<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../Assets/Jazmines-Journey-Logo.PNG"/>
    <title>Jazmine's Journey</title>
    <link rel="stylesheet" href="../../style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="../header.js" type="text/javascript" defer></script>
    <script src="../footer.js" type="text/javascript" defer></script>
</head>
<body>
    <header-component></header-component>


     
  <div class="row">
        <div class="col section-header">
          <h2>Jazmine's Journey</h2>
          <h1 class="homepage-info" style="font-size: 55px;
    font-family: cursive;margin-bottom:none !important">In the News </h1>
        </div>
 </div>

 <!-- steele childrens -->
 <div class="row container" style="margin:auto;">
   
  <div class="col-sm-12">
   
    </p>
    <div class="container centerText">
      <p>
      <p class="event-titles">ABC 15 Arizona - Jazmine's Journey Donates to Steele Children's Research Center</p> 
      <p class="section-text" style="font-size: 18px;">With your help, we have been able to donate $2,500 to <a href="https://medicine.arizona.edu/pediatrics/steele-childrens-research-center" target="_blank">Steele Children's Research Center</a> for pediatric cancer research! 
        
        Watch the video below and <a href="https://www.youtube.com/@abc15">click here to visit the ABC 15 Arizona YouTube Channel</a> 
        <br>
        <br>
     
</p>
<div class="video-container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/j2IcgVzXSPs?si=gXAuqOmb7kN_ymMC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
</div>

</div>
</div>

<!-- hike abc15 -->
 <div class="row container" style="margin:auto;">
   
  <div class="col-sm-12">
   
    </p>
    <div class="container centerText">
      <p>
      <p class="event-titles">ABC 15 Arizona - Jazmine's Hike</p> 
      <p class="section-text" style="font-size: 18px;">Learn about Jazmine's Journey and the reason we are raising funds for childhood cancer research in this ABC 15 Arizona news segment. Watch the video below and <a href="https://www.youtube.com/@abc15">click here to visit the ABC 15 Arizona YouTube Channel</a> 
        <br>
        <br>
     
</p>
<div class="video-container">
<iframe width="560" height="315" src="https://www.youtube.com/embed/7nosuSo4kl4?si=gc-ddlHso1vP_Tf9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
</div>

</div>
</div>

<!-- hike ch 12 -->
  <div class="row container" style="margin:auto;">
   
        <div class="col-sm-12">
         
       
          <div class="container centerText">
            <p>
            <p class="event-titles">Channel 12 News - Jazmine's Hike</p> 
            <p class="section-text" style="font-size: 18px;">We were honored to be featured in a Channel 12 News segment. Watch the video below and <a href="https://www.youtube.com/@12NewsAZ">click here to visit the Channel 12 YouTube Channel</a> 
              <br>
              <br>
           
     </p>
     <div class="video-container">
     <iframe width="560" height="315" src="https://www.youtube.com/embed/ff-iVFLdj40?si=uXDneyNaMac0yha6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    </div>
  
    </div>
  </div>




     

        

      

  
<footer-component></footer-component>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>