<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../Assets/Jazmines-Journey-Logo.PNG"/>
    <title>Jazmine's Journey</title>
    <link rel="stylesheet" href="../../style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="../header.js" type="text/javascript" defer></script>
    <script src="../footer.js" type="text/javascript" defer></script>
</head>
<body>
    <header-component></header-component>


     
  <div class="row">
        <div class="col section-header">
          <h2>Jazmine's Journey</h2>
          <p class="pulse">Jazmine's Traveling Rocks: <span>Painting Event</span></p>
        </div>
 </div>
        <div class="row container" style="margin:auto;">
          <div class="col-sm-4" style="text-align:center;">
                <img src="../../Assets/spacemountainrock.jpg" style="width:200px;border-radius: 20px;" class="" alt="...">
               
              </div>
              <div class="col-sm-8">
               
                </p>
                <div class="container centerText">
                  <p>
               
                  <p class="section-text" style="font-size: 18px;">Have you seen colorful rocks around the city, parks, and hiking trails? Jazmine's traveling rocks are finding their way around. Find one relocate to another destination, and take Jazmine to places she never got to see. 
                    <br>
                    <br>
                    For this event, we will be raising money for our 501(c)3 Nonprofit Organization while painting beautiful rocks to leave around the community that will also bring smiles to those who find it.  We will have rocks for you to paint and take with you to leave at another location. We would love it if you took a picture of where you left it and posted it on social media with the hashtag #jazminestravelingrocks 
                    <br>
                    <br>
                    We are asking for a $10 donation per person which will include rocks to be painted and take with you.  We will provide the paint and paintbrushes to paint the rocks there. We will provide a soft drink per ticket purchased. This is a non-refundable donation; however, it is a tax write-off. 
                    <br>
                    <br>
                    TIME: 1 pm- 2 pm 
                    <br>
                    LOCATION: Chicken N Pickle Glendale 9330 W. Hanna Ln, Glendale, AZ 85305
                 
           </p>
           <p class="animate-charcter"><a href="https://www.zeffy.com/en-US/ticketing/f04445af-502e-4fd4-bbd6-a61065b90848" target="_blank">Click Here To Register</a></p>
          </div>
          </div>
        </div>

     

  
<footer-component></footer-component>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>