<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../Assets/Jazmines-Journey-Logo.PNG"/>
    <title>Jazmine's Journey</title>
    <link rel="stylesheet" href="../../style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="../header.js" type="text/javascript" defer></script>
    <script src="../footer.js" type="text/javascript" defer></script>
</head>
<body>
    <header-component></header-component>


     
  <div class="container">
        <div class="col section-header">
          <h2>Jazmine's Journey</h2>
          <h1 class="homepage-info" style="font-size: 55px;
    font-family: cursive;margin-bottom:none !important">Jazmine’s Unseen Journey to Cure Pediatric Cancer </h1>
        </div>
 </div>

 <!-- steele childrens -->
  <div class="container-fluid">
 <div class="row" style="margin:auto;">
  <div class="col-sm-4">
            <!-- Begin Carousel 2-->
            <div class="col-sm-4 carousel-div">
              <div class="carousel-container">
                <h2 style="text-align:center;"></h2>
                <div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="true">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1b"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2b"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2" aria-label="Slide 3b"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="3" aria-label="Slide 4b"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="4" aria-label="Slide 5b"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="5" aria-label="Slide 6b"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="6" aria-label="Slide 7b"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="../../Assets/Impact/amberdrk.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="../../Assets/Impact/steelechk.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="../../Assets/Impact/JJboardandfam.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="../../Assets/jazsibs3.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="../../Assets/jazsibs4.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="../../Assets/jazsibs5.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="../../Assets/jazsibs6.jpg" class="d-block w-100" alt="...">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
            </div>
               <!-- //end carousel 2-->

  </div>
   
  <div class="col-sm-8">
   
 
    <div class="">
      <p>
        <strong>Jazmine’s Journey </strong>is proud to announce our partnership with <a href="https://medicine.arizona.edu/pediatrics/steele-childrens-research-center" target="_blank">Steele Children's Research Center</a> in Tucson, Arizona. In honor of Jazmine, we have made our first donation of <strong>$2,500 </strong>to support their groundbreaking pediatric cancer research.
        Our mission has always been to bring hope to families facing childhood cancer, and this partnership is a significant step toward funding vital research that can lead to better treatments and, ultimately, a cure. Through <strong>Jazmine’s Unseen Journey to Cure Pediatric Cancer</strong>, we are committed to making a lasting impact in the fight against childhood cancer.
        
        <br>
        <br>
        Together, we can honor Jazmine’s legacy by advancing research and bringing hope to countless children and families. Thank you for being part of this journey with us.
</p>

</div>
    
</div>

</div>
</div>

<div class="row" style="margin:50px;">
<div class="video-container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/j2IcgVzXSPs?si=gXAuqOmb7kN_ymMC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
</div>

<!-- example -->
  <!-- <div class="row container" style="margin:auto;">
   
        <div class="col-sm-12">
         
       
          <div class="container centerText">
            <p>
            <p class="event-titles">Channel 12 News - Jazmine's Hike</p> 
            <p class="section-text" style="font-size: 18px;">We were honored to be featured in a Channel 12 News segment. Watch the video below and <a href="https://www.youtube.com/@12NewsAZ">click here to visit the Channel 12 YouTube Channel</a> 
              <br>
              <br>
           
     </p>
     <div class="video-container">
     <iframe width="560" height="315" src="https://www.youtube.com/embed/ff-iVFLdj40?si=uXDneyNaMac0yha6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    </div>
  
    </div>
  </div> -->




     

        

      

  
<footer-component></footer-component>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>