<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../Assets/Jazmines-Journey-Logo.PNG"/>
    <title>Jazmine's Journey</title>
    <link rel="stylesheet" href="../../style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="../header.js" type="text/javascript" defer></script>
    <script src="../footer.js" type="text/javascript" defer></script>
</head>
<body>
    <header-component></header-component>


     

        <div class="section-header">
          <h2>Jazmine's Journey</h2>
          <p class="pulse">Ways to <span>Support</span></p>
        </div>
        <div class="row container" style="margin:auto;">
          <div class="col-sm-4">
                <img src="../../Assets/JazmineFlowers.jpeg" style="float:left;width:200px;border-radius: 20px;margin-bottom:30px;" class="" alt="...">
               
              </div>
              <div class="col-sm-8">
                <p class="">Thank you for stopping by our support page. There are numerous ways to support Jazmine's Journey: Her unseen journey to cure pediatric cancer. Jazmine's mother, Amber, has written a child's book in Jazmine's memory and a factual account of Jazmine's fight against leukemia. </p>
                <p>
                Attend one of our hiking events where registration fees are donated to a local organization that supports families impacted by childhood cancer. 
                Stay tuned for hiking challenges that will support childhood cancer research. 
              </p>

                <p>
                Follow us on social media for updates.
                Together we can raise funds to support families and childhood cancer research - our efforts WILL make a difference. 
                </p>
                <br>
                  <p>
                    <h6>Events</h6>
                    <ul>
                    <li><a href="./hikingevents.html">Jazmine's Hike</a></li>
                  </ul>
                  <h6>Shop</h6>
                  <ul>
                    <li><a href="https://jazmines-journey.square.site">Jazmine's Journey Shop</a></li>
                   
                  </ul>
                    <h6>Books</h6>
                    <ul>
                      <li><a href="https://a.co/d/bKiwUXn">Jazmine and the Sad Tree</a></li>
                      <li><a href="https://a.co/d/ecmPIRf">Jazmine's Journey</a></li>
                      </ul>
                  
                  </p>
                  <h6>Social Media Links</h6>
                  <ul>
                    <li><a href="https://www.instagram.com/_jazminesjourney_/#">Jazmine's Journey Instagram</a></li>
                    <li><a href="https://www.facebook.com/JazminesJourney">Jazmine's Journey Facebook</a></li>
                   
                  </ul>
             
              </div>
            </div>

        </div>

  
<footer-component></footer-component>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>