<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../Assets/Jazmines-Journey-Logo.PNG"/>
    <title>Jazmine's Journey</title>
    <link rel="stylesheet" href="../../style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="../header.js" type="text/javascript" defer></script>
    <script src="../footer.js" type="text/javascript" defer></script>
</head>
<body>
    <header-component></header-component>

    <button class="floating-btn"> <a href="https://us21.list-manage.com/survey?u=b84b865ea6ed9e8e3894bb424&id=13d9b44e2b&attribution=false">Apply to Receive Family Support</a></button>
     
  <div class="row">
        <div class="col section-header homepage-info">
          <h2>Jazmine's Journey</h2>
          <h1 class="pulse">Upcoming Events </h1>
        </div>
 </div>


  <div class="row container" style="margin:auto;">

    <div class="container centerText" style="text-align:center;">
      <div>
          <img src="../../Assets/bingoimg.png" style="width:200px;border-radius: 20px;" class="" alt="...">    
      </div>
         
            <p>
            <p>Tuesday, June 11th, 2024 ALL DAY Give-Back and Bingo at 6:00 PM - 8:00 PM</p>
            <p class="event-titles">Bingo Giveback Night at Chicken N' Pickle</p> 

            <p class="section-text" style="font-size: 18px;">
                Location: 9330 W Hanna Ln, Glendale, AZ 85305
                <p>Get ready to dab those bingo cards for a cause! It's just $10 to join the excitement, and you can grab as many cards as you'd like to increase your chances of winning fantastic prizes generously donated by local companies.</p>
              
                <p>  But wait, there's more! Be sure to snag our exclusive, limited edition bingo night shirt for only $25. Preorder yours now to secure this one-of-a-kind piece! Hurry, the deadline to preorder is Sunday, June 2.</p>
          
                <p> The night of the event, there will be a 50/50 raffle that will be announced at the end of the event. Tickets will be available online and in person. In-person will require an exact amount, but will also still be available to purchase with a card online.</p>
            
                Prices for the 50/50 raffle:
                <ul>
                <li style="text-align:left;"> 1 for $1 </li>
                <li style="text-align:left;">10 for $5 </li>
                <li style="text-align:left;"> 20 for $10</li>
                </ul>
               <br>
                
               
                Food and drinks can be purchased before, during, and/or after the event. On this date, it is also our Give-Back night. Chicken n Pickle will donate 30% of your food/drink purchase.
              <a href="https://www.zeffy.com/en-US/ticketing/225f2e3c-436f-46ea-b27f-711ba6bf0abb" target="_blank">Click here to register!</a>
              <br>
              <br>
              Want more information? View the event flyer!
              <a href="../../Assets/Fundraisers/binboCnP.jpeg" target="_blank">Click to see flyer!</a>
              <br>
              <br>
           
     </p>
    </div>

    <div class="container centerText" style="text-align:center;">
      <div>
          <img src="../../Assets/Fundraisers/BrustersLogo.svg" style="width:200px;border-radius: 20px;" class="" alt="...">    
      </div>
         
            <p>
            <p>Thursday, June 27th  5-8pm</p>
            <p class="event-titles">Brusters Giveback Night</p> 

            <p class="section-text" style="font-size: 18px;">
                Location: 17115 N 51st ave, Glendale, AZ 85308
                <br>
                <br>
                Cool down with a Brusters ice cream and support Jazmine's Journey! Do not miss this delicious fundraising night!
            
              <br>   
     </p>
    </div>


  
    <div class="container centerText" style="text-align:center;">
      <div style="text-align:center;">
          <img src="../../Assets/Fundraisers/Peter_Piper_Pizza.png" style="width:200px;border-radius: 20px;" class="" alt="...">
         
      </div>
            <p>
                <p>Friday, July 12th, 2024 5:00 PM - 8:00 PM</p>
            <p class="event-titles">Peter Piper Pizza Fundraiser</p> 
            <p class="section-text" style="font-size: 18px;">
                Enjoy a meal, games and fun all while supporting Jazmine's Journey at Peter Piper Pizza located at: 245 E Bell Rd, #55, Phoenix, AZ 85022
              <br>
              <a href="../../Assets/Fundraisers/peterpiper.png" target="_blank">Click here for more information</a> 
           
     </p>
    </div>

    <div class="container centerText" style="text-align:center;">
      <div style="text-align:center;">
          <img src="../../Assets/Fundraisers/on-the-border-logo.png" style="width:200px;border-radius: 20px;" class="" alt="...">
         
      </div>
            <p>
                <p>Tuesday, August 6, 2024 11:00am-9:00pm</p>
            <p class="event-titles">On the Border</p> 
            <p>Location: 7873 W. Bell Road Peoria, AZ 85832</p>
            <p class="section-text" style="font-size: 18px;">
              Jazmines Journey will receive 20% of fundraiser sales* during this fundraiser. Participate on Aug 6, 2024 during the scheduled fundraiser time by showing this flyer to the your waiter or waitress at this On the Border location, or by ordering online using the digital fundraiser code.

              *Gift card sales, alcoholic beverage sales, taxes, and delivery fees excluded.
              <br>
              <a href="https://ontheborder.force4good.com/event/0d2429fa-be57-4599-a640-aa18a6e7eec7" target="_blank">Click here for more information</a> 
           
     </p>
    </div>
  </div>

     

        

      

  
<footer-component></footer-component>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>